* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

.logo {
    border-radius: 30px;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
    background-color: #e3e6f9;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

#header {
    display: flex;
    padding: 20px 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #e3e6f9;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover {
    color: rgb(80, 246, 91);
}

/* homepage */
#mobile {
    display: flex;
    align-items: center;
    display: none;
}

#close {
    display: none;
}

#hero {
    background: #E3E6F3;
    height: 90vh;
    width: 100%;
    padding: 0 80px;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;

}

#hero button {
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    background-color: antiquewhite;
    border-radius: 35px;
}

.heroimage {
    position: relative;
    left: 980px;
    bottom: 350px;

}

.herotext {
    position: relative;
    top: 157px;
    left: 7px;
}

/* products */

#product1 {
    text-align: center;
    position: relative;
    /* top: -120px; */

}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span {
    color: gray;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 800;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: lightgrey;
    font-weight: 700;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(image/banner/Untitled\ design\ \(1\).png);
    width: 100%;
    height: 40vh;
    /* background-size: cover; */
    /* background-position: center; */

}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: red;
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-logo img {
    max-width: 150px;
    height: auto;
    border-radius: 40px;
    padding: 15px;
    margin: 1px;
}

.footer-social {
    display: flex;
}

.footer-icon {
    font-size: 20px;
    color: #ffd700;
    /* Gold color */
    margin-right: 10px;
}

.footer-right {
    text-align: right;
}

.footer-contact h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffd700;
    /* Gold color */
}

.footer-contact p {
    margin: 5px 0;
    color: #fff;
}

.footer-bottom {
    text-align: center;
    font-size: 16px;
    color: #ddd;
    /* Light gray color */
}

.footer-bottom p {
    margin: 0;
    color: #fff;
}

/* Shop Page */
#shop-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(image/banner/shop-banner\(2\).png);
    background-size: cover;
    width: 100%;
    height: 40vh;
}

#shop-banner h2,
#shop-banner p {
    color: #fff;
}

#pagination {
    display: flex;
    text-align: center;
    height: 15vh;
    align-items: center;
    justify-content: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    margin: 4px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  .contactcontainer {
width: 600px;
    margin: 5px auto;
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: grid;
    gap: 5px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    resize: vertical;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
#cart { border: 1px solid #ccc;
    margin-top: 5px;
    
}
#cart thead td{ border: 1px solid black;
border-left: none ;
border-right: none ;
padding: 18px ;
font-weight: 700;
text-transform: uppercase;
}
#cart tbody td {
   
    border-right: none;
    padding: 10px;
    margin-right: 10px;
    color: darkgray;
}
.cartinp{
    padding: 10px 5px 10px 15px;
    width: 70px;
    
}
#card-add{
    display: flex;
    justify-content: center;
    /* border: 2px solid #ccc; */
    padding: 10px;
    margin: 2px;

}
#card-add table{
    border: 2px solid #ccc;
    padding: 15px 19px;
    margin: 10px;
   
}
#card-add table td{
    padding: 10px 220px;
    border: 1px solid #ccc;

}
#remove{
    color: #1a1a1a;
    font-size: 20px;
}
.normall{
    background: #088178;
    color: #fff;
    padding: 12px 20px;
}
#login {
    background-color: #e3e6f9;
    padding: 20px;
    margin: 0;
    width: 100%;
}

#login .container {
    max-width: 400px;
    margin: 50px auto;
}

#login h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #088178;
}

#login .form-group {
    margin-bottom: 20px;
}

#login label {
    display: block;
    font-weight: bold;
    color: #1a1a1a;
}

#login input[type="text"],
#login input[type="email"],
#login input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#login button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #088178;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
/* shop detail  */
#prodetails .singleimg{
    width: 40vw;
    margin-right: 50px;

}

#prodetails{
    display: flex;
    margin-top: 20px;
}
.singledetails h4{ padding: 40px 0 20px 0;

}
.singledetails h2{
    font-size: 26px;
}
.singledetails select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.singledetails input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.singledetails button{
    background-color: #088178;
    color: #fff;
}
.singledetails span{
    line-height: 25px;
}

/* cart  */



.headers{
    height: 80px;
    width: 70%;
    background-color: goldenrod;
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  .headers .logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
  }
  .fa-solid{
    color: goldenrod;
  }
  .cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: goldenrod;
    color: white;
  }
  .container{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
  }
  #root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
  }
  .head{
    background-color: goldenrod;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
  }
  .foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
  }
  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 15px;
  }
  .img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
  }
  .bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
  }
 
  .buttons{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: goldenrod;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
  }
  .buttons:hover{
    background-color: #333;
  }
  .cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
  }
  .row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
  }
  .fa-trash:hover{
    cursor: pointer;
    color: #333;
  }
  .normall{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 300px;
  }


















/* Media Query of home page  */
@media (max-width:1024px) {
    #navbar {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3sec;

    }

    #navbar.active {
        right: 1px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;

    }

    #close {
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 28px;
        display: initial;
    }

    #hero {

        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 0;
    }

    .heroimage {
        position: relative;
        left: 200px;
        top: 35px;

    }
    body{
        width: 100vw;
    }

}

@media (max-width: 477px) {
    #header {
        width: 100vw;

        padding: 5px 20px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
        word-wrap: break-word;

    }

    .logo {
        border-radius: 30px;
        width: 60px;
    }

    .heroimage {
        /* display: none; */

        position: relative;
        top: -30px;
        left: 71px;

    }

    .topimg {
        width: 200px;

    }

    h2 {
        font-size: 32px;
        margin: 5px 45px;
    }

    p {
        margin: 10px 10px;
        padding-left: 50px;
    }

    h1 {
        font-size: 35px;
        padding: 2px 14px;
        margin-right: -11x;
    }

    #hero h1 {
        margin: -16px 35px;
    }

    #hero h4 {
        font-size: 25px;
        margin: 15px 70px;
        padding-bottom: 0px;
    }

    #hero button {
        margin: 1px 55px;
        font-size: 13px;
    }

    #hero p {
        margin: 15px -7px;
    }

    body {
        overflow-x: hidden;
        width: 100vw;
    }

    .herotext {
        position: relative;
        top: 30px;
        left: 7px;
    }

    p {
        font-size: 15px;
        margin-left: -16px;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    .footer {
        width: 95vw;
    }

    .footer-logo img {
        width: 100px;
        border-radius: 40px;
        padding: 15px;
        margin: 1px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    body {
        overflow-x: hidden;
    }
    .section-p1 {
        padding: 42px 2px;
    }
    #card-add {
        display: flex;
       
        padding: 20px;
        width: 100%;
    }
    #card-add table {
        
        padding: 15px 19px;
        margin: 10px;
        width: 100%;
    }
    #card-add table td{
        padding: 10px 40px;
        border: 1px solid #ccc;
    }
        #cart thead td{
            padding: 1px;
            font-size: 6px;
            font-weight: 900;
        }
}